# These requirements should be installed into a pyenv or conda environment to
# enable the execution of the documentation notebook.
#
# Example conda environment creation:
#
# conda create --name regridder-docs python=3.10 --channel conda-forge \
#     --channel defaults -y
#
# pip install -r pip_requirements.txt
#
###############################################################################
curlify~=2.2.1
harmony-py~=0.4.6
hvplot~=0.8.3
matplotlib~=3.7.1
netCDF4~=1.6.3
notebook~=6.5.3
panel~=0.14.4
xarray~=2023.1.0
