# These requirements should be installed into a pyenv or conda environment to
# enable the execution of the documentation notebook.
#
# Example conda environment creation:
#
# conda create --name regridder-docs python=3.11 --channel conda-forge \
#     --channel defaults -y
#
# pip install -r pip_requirements.txt
#
###############################################################################
curlify~=2.2.1
harmony-py~=0.4.15
holoviews~=1.18.3  # Mitigates deprecation warning from hvplot
hvplot~=0.10.0
matplotlib~=3.7.5
netCDF4~=1.6.5
notebook~=7.2.1
panel~=1.4.4
xarray~=2024.5.0
