# These requirements should be installed into a pyenv or conda environment to
# enable the execution of the documentation notebook.
#
# Example conda environment creation:
#
# conda create --name regridder-docs python=3.13 --channel conda-forge
#
# pip install -r pip_requirements.txt
#
###############################################################################
curlify==2.2.1
harmony-py==1.2.0
hvplot==0.11.3
matplotlib==3.10.1
netCDF4==1.7.2
notebook==7.4.2
panel==1.6.3
xarray==2025.9.0
